@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:700,900&display=swap');
/* ======================================
reset css
====================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  }

/* ======================================
body footer css
====================================== */
html {
  width: 100%;
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  line-height: 1;
}
footer {
  background-color: #a9926e;
  padding: 8% 0 8%;
  position: relative;
}
footer p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  position: relative;
  z-index: 10;
}
footer a.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #a9926e;
  font-size: 14px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: -50%;
  /* left: 0; */
  right: 40%;
  color: #fff;
  z-index: 5;
}

/* @media screen and (min-width: 1000px) {
  body {
    background: linear-gradient( #bfc1ff, #b4f7f8);
    font-family: 'Noto Sans';
    background-color: #444;
  }
} */


/* ======================================
header css
====================================== */
header {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  z-index: 999;
}
header .logo-tel-area {
  width: 100%;
  padding: 3% 4%;
  display: block;
  background-color: #fff;
}
header .logo-tel-inner {
  display: flex;
  justify-content: space-between;
}
header .logo-tel-area img.logo {
  width: 30%;
}
header .logo-tel-area .tel {
  width: 54%;
  position: relative;
}
header .logo-tel-area .tel:before {
  content: '';
  width: 9vw;
  height: 5vh;
  background-image: url(/img/icon-tel.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: contain;
  margin-right: 6px;
  position: absolute;
  top: 0;
}
header .logo-tel-area .tel .tel-text {
  padding-left: 20%;
  font-size: 2.6vw;
  font-weight: bold;
  color: #a9926e;
  margin-bottom: 2%;
  letter-spacing: 0.05em;
  font-family: 'Noto Sans JP', sans-serif;
}
header .logo-tel-area .tel .tel-text span {
  color: #ffb357;
}
header .logo-tel-area .tel .number {
  padding-left: 20%;
  color: #a9926e;
  font-size: 5.4vw;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: 'Noto Sans JP', sans-serif;
}
header .nav {
  background-color:rgba(208, 40, 54, 0.9);
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .nav li {
  width: calc(90% / 3);
  position: relative;
}
header .nav li:before {
  content: '';
  display: inline-block;
  height: 8vw;
  width: 2px;
  background-color: #fff;
  left: -8%;
  top: 18%;
  position: absolute;
}
header .nav li:first-child:before {
  display: none;
}
header .nav li a:after {
  content: '';
  background-image: url(/img/icon-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 4vw;
  height: 2vh;
  display: block;
  text-align: center;
  margin: 6% auto 0;
  opacity: 0.7;
}
header .nav li a {
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.4vw;
  letter-spacing: 0.1em;
  padding: 10% 0 4%;
}
@media screen and (min-width: 800px) {
  header {
    text-align: center;
    margin: 0 auto;
  }
  header .logo-tel-area {
    padding: 1.8% 4%;
  }
  header .logo-tel-inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  header .logo-tel-area img.logo {
    width: 220px;
  }
  header .logo-tel-area .tel {
    width: 290px;
  }
  header .logo-tel-area .tel:before {
    width: 58px;
    height: 52px;
    position: absolute;
    left: 18px;
  }
  header .logo-tel-area .tel .tel-text {
    font-size: 14px;
    letter-spacing: 0.05em;
    padding-left: 70px;
  }
  header .logo-tel-area .tel .number {
    font-size: 28px;
    padding-left: 70px;
  }
  header .nav li a {
    font-size: 16px;
    padding: 4% 0 2%;
  }
  header .nav li a:after {
    width: 24px;
    height: 10px;
    margin: 10px auto 0;
  }
  header .nav li:before {
    height: 34px;
  }
}


/* ======================================
tel ここから
====================================== */
.tel-area {
  width: 80%;
  margin: 0 auto 20%;
  padding: 4% 4%;
  display: block;
  background-color: #a9926e;
  position: relative;
  border-radius: 6px;
}
.tel-area:before {
  content: '';
  width: 8%;
  height: 7vh;
  background-image: url(/img/icon-tel-w.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: contain;
  margin-right: 6px;
  position: absolute;
  top: 25%;
  left: 14%;
}
.tel-area .tel-text {
  padding-left: 24%;
  font-size: 3.3vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2%;
  letter-spacing: 0.04em;
  font-family: 'Noto Sans JP', sans-serif;
}
.tel-area .tel-text span {
  color: #ffb357;
}
.tel-area .number {
  padding-left: 24%;
  color: #fff;
  font-size: 6.8vw;
  letter-spacing: 0.06em;
  font-family: 'Noto Sans JP', sans-serif;
}


/* ======================================
index css ここから
====================================== */
#container {
  width: 100%;
  height: 150vw;
  overflow: hidden;
  position: absolute;
  top: -10px;
  background-position: 50% 50%;
}
#container ul.sm-slider {
  position: relative;
  position: relative;
  height: 150vw;
  z-index: -1;
}
.mv-area {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 16%;
  position: relative;
  z-index: 100;
}
.mv-area .title-box {
  width: 90%;
  margin: 0 auto;
  padding: 25% 0 10%;
  text-align: center;
}
.mv-area .title-box h1 {
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
  margin: 0 auto;
  letter-spacing: 0.02em;
  color: #fff;
  font-size:6.4vw;
  line-height: 1.2;
  text-shadow: 0px 3px 15px rgb(65, 58, 46,0.8);
}
.mv-area .title-box .logo img {
  width: 60%;
  display: block;
  margin: 8% auto 6%;
}
.mv-area .title-box p {
  font-size: 5.6vw;
  color: #fffb77;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.mv-area  .sub-mv-text {
  background-color: #a9926e;
  padding: 2% 6% 4%;
  font-size: 3.8vw;
  color: #fff;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(113, 97, 74);
}
.mv-area  .sub-mv-text img {
  text-align: center;
  width: 14%;
}
@media screen and (min-width: 800px) {
  #container {
    height: 90vw;
  }
  .mv-area .title-box h1 {
    font-size: 38px;
  }
  .mv-area .title-box h1 .logo {
    width: 440px;
    margin: 0 auto;
  }
  .mv-area .title-box {
    padding: 10% 0 10%;
  }
  .mv-area .sub-mv-text img {
    width: 80px;
  }
  .mv-area .sub-mv-text {
    font-size: 18px;
  }
  .mv-area .title-box p {
    font-size: 22px;
  }
  h2 {
    font-size: 38px;
  }
}

h2 {
  color: #a9926e;
  margin: 14% auto 20%;
  font-family: 'Noto Serif JP', serif;
  font-weight: 900;
  font-size: 6.4vw;
  text-align: center;
  position: relative;
  letter-spacing: 0.1em;
}
h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px; 
  display: inline-block;
  width: 20vw;
  height: 2px;
  transform: translate(-50%); 
  background-color: #666666; 
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 38px;
  }
  h2:after {
    width: 100px;
  }
}

.lunch-area {
  margin: 10% auto 10%;
  width: 100%;
  color: #444;
}
.delivery-area, .shop-area, .link-area{
  margin: 10% auto 16%;
  width: 90%;
  color: #444;
}
.lunch-area li{
  position: relative;
  width: 90%;
  margin: 0 8px 1%;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}
.lunch-area .img-box-lunch {
  width: 100%;
  overflow: hidden;
  margin-bottom: 6%;
}
.lunch-area .img-box-lunch img {
  width: 100%;
  background-color: #d34955;
}
.lunch-area .text-box-lunch {
  padding: 0 6% 10%;
}
.lunch-area .text-box-lunch h3 {
  font-size: 5vw;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-bottom: 3%;
  line-height: 1.5;
  height: 9vh;
}
.lunch-area .text-box-lunch p {
  font-size: 4vw;
  line-height: 1.5;
  margin-bottom: 2%;
  text-align: justify;
}
.lunch-area .text-box-lunch p.text {
  height: 100px;
}
.lunch-area .text-box-lunch .price {
  font-size: 5vw;
  font-weight: bold;
  margin-right: 2%;
}


.concept-area {
  width: 100%;
}
.concept-area ul li {
  margin-bottom: 18%;
  position: relative;
  height: 36vh;
}
.concept-area ul li .text-box-concept {
  width: 80%;
  padding: 6% 4% 6% 10%;
  display: block;
  background-color:rgba(222,203,172,0.8);
  position: absolute;
  z-index: 10;
}
.concept-area ul li:nth-child(odd) .text-box-concept {
  top: 0;
  left: 0;
}
.concept-area ul li:nth-child(even) .text-box-concept {
  top: 0;
  right: 0;
}
.concept-area ul li .text-box-concept h3 {
  font-size: 5.4vw;
  font-weight: 900;
  font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.1em;
  margin-bottom: 4%;
  text-shadow: 0px 0px 4px rgb(213, 188, 147);
}
.concept-area ul li .text-box-concept p {
  line-height: 1.5;
  font-size: 4vw;
}
.concept-area ul li .img-box-concept {
  width: 90%;
  height: 28vh;
  overflow: hidden;
  position: absolute;
}
.concept-area ul li:nth-child(odd) .img-box-concept{
  top: 30%;
  right: 0;
}
.concept-area ul li:nth-child(even) .img-box-concept {
  top: 30%;
  left: 0;
}
.concept-area ul li .img-box-concept img {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .concept-area {
    width: 960px;
    margin: 0 auto;
  }
  .concept-area ul li {
    height: 300px;
  }
  .concept-area ul li:nth-child(2) {
    height: 350px;
  }
  .concept-area ul li .text-box-concept {
    width: 600px;
    padding: 60px;
  }
  .concept-area ul li .text-box-concept h3 {
    font-size: 24px;
  }
  .concept-area ul li .text-box-concept p {
    font-size: 14px;
  }
  .concept-area ul li .img-box-concept {
    width: 600px;
    height: 300px;
  }
  .concept-area ul li .img-box-concept img {
    width: 100%;
  }
  .concept-area ul li:nth-child(odd) .img-box-concept {
    top: 20%;
  }
}


.delivery-area .delivery-box {
  background-color: #e7e1d8;
  padding: 5%;
  margin-bottom: 10%;
}
.delivery-area .delivery-box .delivery-list {
  margin-bottom: 4%;
  line-height: 1.5;
 font-weight: bold;
}
.delivery-area .delivery-box .delivery-list p {
  padding-left: 1.2em;
  text-indent: -1.2em;
  font-size: 4.2vw;
  margin-bottom: 4%;
}
.delivery-area .delivery-box .delivery-list p:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 900;
  padding-right : 5px;/*文字との隙間*/
  color: #e2578b;/*アイコンの色*/
}
.delivery-area .delivery-box .delivery-list-sub {
  line-height: 1.5;
  font-size: 3.4vw;
}
.delivery-area .delivery-box .delivery-list-sub li {
  display: inline-block;
  margin-bottom: 2%;
}
.delivery-area .delivery-box .delivery-list-sub p{
  padding-left: 1em;
  text-indent: -1em;
  color: #444;
  margin-bottom: 1%;
}
.delivery-area .delivery-box .delivery-list-sub p:before {
  content: "■";
  color: #444;/*アイコンの色*/
}
.delivery-area h3 {
  text-align: center;
  font-size: 4.8vw;
  margin-bottom: 4%;
  font-weight: bold;
  color:#e2578b;
  letter-spacing: 0.05em;
}
.delivery-area .area-box-delivery {
  border-radius: 6px 6px 0 0;;
  padding: 4%;
}
.delivery-area .delivery-box .area-box-delivery {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10%;
}
.delivery-area .delivery-box  img {
  width: 100%;
  padding: 4%;
  border-radius: 6px;
  background-color: #fff;
}
.delivery-area .delivery-box .img-other,
.delivery-area .delivery-box .img-hyogo {
  padding: 0 8% 0 0;
}
.delivery-area .delivery-box h4 {
  text-align: left;
  font-size: 5vw;
  color: #a9926e;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 4%;
}
.delivery-area .delivery-box p {
  color: #e2578b;
  margin-bottom: 6%;
  line-height: 1.4;
  text-align: justify;
}
@media screen and (min-width: 800px) {
  .delivery-area .area-box-delivery {
    text-align: center;
  }
  .delivery-area .delivery-box img {
    width: 500px;
  }
  .delivery-area .delivery-box .delivery-list {
    padding: 20px 100px;
    background-color: #f7f7f7;
  }
  .delivery-area .delivery-box .delivery-list p {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .delivery-area .delivery-box .delivery-list-sub {
    font-size: 14px;
  }
  .delivery-area .delivery-box .delivery-list-sub li {
    display: block;
    margin-bottom: 0;
  }
  .delivery-area h3 {
    font-size: 26px;
  }
  .delivery-area .delivery-box h4 {
    font-size: 24px;
    text-align: center;
  }
  .delivery-area .delivery-box p {
    width: 500px;
    margin: 0 auto 20px;
  }
}

.shop-area h3 {
  font-size: 4.4vw;
  font-weight: bold;
}
.shop-area .adress-box {
  width: 100%;
  color: #444;
  justify-content: space-between;
  border: 1px solid #a9926e;
  padding: 4% 6%;
  font-size: 4vw;
  letter-spacing: 0.05em;
  line-height: 1.5;
  border-radius: 6px;
  margin-bottom: 10%;
}
.shop-area .adress-box li span {
  display: block;
}
@media screen and (min-width: 800px) {
  .shop-area h3 {
    font-size: 20px;
  }
  .shop-area .adress-box {
    font-size: 16px;
  }
}
/* ======================================
index css ここまで
====================================== */

/* ======================================
slider css ここから
====================================== */
.center { margin: 0 0 50px;}
.center img { width: 100%; height: auto;}
.center .slick-next { right: 20px; z-index: 99;}
.center .slick-prev { left: 15px; z-index: 100;}


/* ======================================
スムーススクロール位置
====================================== */
.anchor {
  display: block;
  padding-top: 14vh;
  margin-top: -14vh;
}



